*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

html, body{
  height: 100%;
  width: 100%;
}

body{
  background-color: black;
}

form {
  padding: 20px;
}

input{
  padding: 5px 10px;
  margin-bottom: 20px;
}

button{
  padding: 10px 20px;
  background-color: black;
}